<h1>Welcome to the chatroom</h1>

<div id='chatbox'>
  <p>Hello there!</p>
  <button id="first-button" type='button'>How's it going?</button>
  <button type='button'>Hey! What are you up to?</button>
</div>

<script>
  $('#chatbox').on('click', 'button', function() {
    var message = $(this).text()
    $(this).css("background-color", "#CCCCCC");
    $("#chatbox :button").attr("disabled", true);
    setTimeout( function() {
      $('#chatbox').append('<p id="typing">Chatbot is typing...</p>')
    }, 1500)
    setTimeout( function() {
      $('#typing').remove();
      $.get('/response', {message: message}).done(function(chat) {
        $('#chatbox').append(chat);
      })
    }, 5000)
  })
</script>
