<h1>Welcome to the chatroom</h1>

<div id='chatbox'>
  <p>Hello there!</p>
  <button id="first-button" type='button'>How's it going?</button>
  <button type='button'>Hey! What are you up to?</button>
</div>

<script>
  $('#chatbox').on('click', 'button', function() {
    $("#chatbox :button").attr("disabled", true);
    $.get('/response', {message: $(this).text()}).done(function(chat) {
      $('#chatbox').append(chat);
    })
  })
</script>
