<h1>Welcome to the chatroom</h1>

<div id='chatbox'>
  <p>Hello there!</p>
  <button type='button'>How's it going?</button>
</div>

<script>
  $('#chatbox').on('click', 'button', function() {
    $(this).attr("disabled", true);
    $.get('/response', {message: $(this).text()}).done(function(chat) {
      $('#chatbox').append(chat);
    })
  })
</script>
